@import url('https://fonts.googleapis.com/css2?family=Acme&family=Dancing+Script:wght@500&family=Merriweather:ital,wght@1,300&family=Montagu+Slab&family=Satisfy&family=Shalimar&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.App{
  width: 100%;
  height: 100vh;
  display: block;
}

.navBar{
  width: 100%;
  height: 130px;
  background-color: white;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.logo{
  margin-left: 7%;
}

.menu{
  float: right;
  list-style: none;
  margin-left: 70px;
  display: flex;
  flex-direction: row;
}

.menu li{
  display: inline-block;
  padding: 37px;
  color: black;
  font-size: 40px;
  font-weight: 500;
  font-family: 'Acme', sans-serif;
}

.menu li:hover{
  cursor: pointer;
}

.backgroundimage{
  position: relative;
}

.text{
  position: relative;
  top: -650px;
  color: white;
  padding: 20px;
  font-size: 27px;
  background-color: rgba(0,0,0,0.5);
  right: -60px;
  width: 500px;
  font-family: 'Times New Roman', Times, serif;
}

.box2{
  width: 100%;
  height: 230px;
  position: relative;
  background-color: #dadada;
  top: -200px;
}

.box2 h1{
  text-align: center;
  padding: 20px;
  font-family: 'Merriweather', serif;
  font-size: 40px;
}

.box2 p{
  line-height: 40px;
  padding: 10px;
  font-size: 25px;
  font-family:'Acme', sans-serif;
  text-align: center;
}

.box3{
  background-color: whitesmoke;
  position: relative;
  top: -170px;
  height: 500px;
}

.box3 h2{
  text-align: center;
  font-size: 40px;
  font-family: 'Times New Roman', Times, serif;
  padding: 20px;
}

.box3 p{
  text-align: center;
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.image1{
  position: relative;
  opacity: 0.8;
}

.text2{
  position: relative;
  top: -240px;
  color: black;
  padding: 20px;
  font-size: 60px;
  text-align: center;
  background-color: white;
  right: -370px;
  width: 800px;
  height: 170px;
  font-family: 'Times New Roman', Times, serif;
}

.text2 p{
  font-size: 35px;
  padding-top: 10px;
  font-family: 'Shalimar', cursive;
}

.main{
  position: relative;
  top: -90px;
}
.container{
  border: 2px solid black;
  margin-bottom: 2%;
}
.card-title{
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 40px;
  padding: 15px;
}

.card-description{
  line-height: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 19px;
  padding: 15px;
}

.card-review{
  padding: 10px;
  font-size: 20px;
}

.category{
  width: 310px;
  height: 380px;
  position: fixed;
  top: 50px;
  left: 20px;
  border-right: 2px solid grey;
  float: left;
}

.browse{
  padding: 22px;
  line-height: 30px;
  font-size: 30px;
}

.buttons{
  padding: 10px;
  margin: 10px;
  font-size: 30px;
  background-color: white;
  font-family: 'Shalimar', cursive;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

.buttons:hover{
  transform: scale(1.3);
}

.main-cards{
  display: grid;
  grid-template-columns: repeat(2, minmax(150px, 10px));
  grid-gap: 60px;
  justify-content:space-evenly;
}

.card{
  width: 500px;
  height: 300px;
  position: relative;
  top: 55px;
  border-radius: 20px;
}

.image{
  width: 280px;
  height:100%;
  float: left;
}

.des{
  padding: 20px;
  line-height: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.price{
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
}

.cart{
  padding: 10px;
  font-size: 17px;
  margin-top: 10px;
  background-color: olivedrab;
  color: white;
  border: olivedrab;
  cursor: pointer;
}

.main-container{
  position: relative;
  top: 10px;
}

.line{
  width: 800px;
  height: 80px;
  position: relative;
  top: 20px;
  right: -1400px;
  font-size: 36px;
}

.line p{
  font-size: 28px;
  position: relative;
  top: -46px;
  left: 50px;
}

.shop1{
  width: 600px;
  height: 600px;
  margin-left: 12%;
  position: relative;
  top: 30px;
  float: left;
  margin-right: 30px;
  box-shadow: 0px 10px 9px grey;
}

.firstimage{
  width: 100%;
  height: 100%;
}

.firstimage:hover{
  transform: scale(1.02);
}

.shop2{
  float: left;
  width: 600px;
  height:600px;
  position: relative;
  top: 28px;
  box-shadow: 0px 10px 9px grey;
}

.category1{
  position: relative;
  top: -150px;
  left: 30px;
  font-size: 32px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}

.view{
  position: relative;
  top: -140px;
  left: 30px;
  font-size: 20px;
  padding: 10px;
  background-color: black;
  color: white;
}
.cart-btn{
  border: none;
  font-size: 30px;
  background-color: white;
  cursor: pointer;
}

.sideBar{
  width: 500px;
  height: 700px;
  background-color: white;
  position: relative;
  top: -1800px;
  left: 1010px;
  border: 2px solid black;
}

.cross{
  background-color: white;
  border: none;
  font-size: 29px;
  position: relative;
  top: -40px;
  right: -458px;
  cursor: pointer;
}

.header{
  height: 70px;
  border-bottom: 2px solid silver;
}

.header p{
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
  padding:10px;
  font-weight: 500;
}
.book{
  font-size: 20px;
  color: white;
  background-color: black;
  margin-left: 30px;
  padding: 12px;
  border-radius: 10px;
  cursor: pointer;
}

.icon{
  font-size: 26px;
  border: none;
  position: relative;
  background-color: white;
  cursor: pointer;
}

.service{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  height: 50px;
}

.service button{
  font-size: 18px;
  padding: 10px;
  margin: 30px;
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  color: white;
  border-radius: 13px;
  width: 80%;
}

.service button:hover{
  background-color: silver;
  color: black;
  border: 2px solid silver;
}

.select{
  margin: 20px;
  font-size: 25px;
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 14px;
  border: none;
  cursor: pointer;
}

.background{
 width: 100%;
 height: 100vh;
 background: rgba(0, 0, 0, 0.8);
 display: flex;
 justify-content: center;
 align-items: center;

}

.wrapper{
  width: 800px;
  height: 500px;
  box-shadow: rgba(0, 0, 0, 0.2);
  background: white;
  color: black;
  position: relative;
}

.cut{
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: silver;
  position: relative;
  cursor: pointer;
  font-size: 25px;
  color: white;
  left: 740px;
  top: 6px;
}

.wrapper p{
  font-size: 26px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 500;
  color: grey;
  padding: 10px;
  position: relative;
  top: -48px;
}

.salon-service{
  width: 80%;
  height: 150px;
  margin: 20px;
}

.services1{
  font-family: 'Satisfy', cursive;
  padding: 20px;
  font-size: 30px;
  line-height: 60px;
  margin-bottom: 10px;
}

.services-price{
  font-family:'Satisfy', cursive;
  padding: 20px;
  font-size: 25px;
  line-height: 40px;
}

.services-time{
  font-family: 'Satisfy';
  padding: 20px;
  font-size: 20px;
}

.booking{
  float: right;
  border: none;
  font-size: 18px;
  padding: 15px;
  background-color:white;
  position: relative;
  top: -60px;
  left: -20px;
  background-color: rebeccapurple;
  color: white;
  border-radius: 15px;
  cursor: pointer;
}

.booking:hover{
  transform: scale(1.1);
 transition: 2ms;
}

.mainBar{
  width: 60%;
  height: 700px;
  background-color: rgba(0, 0, 0, 0.8);
  position: relative;
  top: -2700px;
  left: 300px;
}

.cut{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: grey;
  color: white;
  font-size: 25px;
  position: relative;
  left: 860px;
  top: 10px;
}

.spa-container{
  position: relative;
  top: -170px;
  width: 100%;
  height: 800px;
  background-color: wheat;
  margin-bottom: 20px;
  border-radius: 20px;
  margin-top: 20px;
}

.image-spa{
  border-radius: 20px;
  margin: 30px;
}

.service-spa{
  width: 800px;
  height: 300px;
  position: relative;
  top: -300px;
  left: 600px;
}

.s1{
  font-family: 'Montagu Slab', serif;
  font-size: 29px;
  padding: 20px;
  line-height: 60px;
}

.p1{
  font-family: 'Satisfy', cursive;
  font-size: 20px;
  padding: 20px;
}

.explore-service{
  padding: 20px;
  font-size: 40px;
  font-family:"Acme";
  position: relative;
  top: -30px;
}

.book-spa{
  font-size: 24px;
  padding: 10px;
  font-family:'Dancing Script', cursive;
  background-color: rosybrown;
  border: none;
  cursor: pointer;
  box-shadow: 3px 3px 3px brown;
  position: relative;
  left: 50px;
  margin: 15px;
}

